#-------------------------#
#         Python          #
#-------------------------#
__pycache__/
*.pyc
*.pyo
*.pyd

#-------------------------#
#    Virtual Enviorment   #
#-------------------------#
.venv/
venv/

#-------------------------#
#         IDE/OS          #
#-------------------------#
.vscode/
.DS_Store
Thumbs.db

#-------------------------#
#          DATA           #
#-------------------------#
PASCAL_Segmentation/

#-------------------------#
#         OUTPUTS         #
#-------------------------#
output/

#-------------------------#
#       MDL/CHKPNTS       #
#-------------------------#
*.pt
*.pth
*.ckpt

#-------------------------#
#          LOGS           #
#-------------------------#
*.log
